<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>
<body>
    <div class="form-box">
    <h1>ADD EMPLOYEE</h1>
    <div class="nav-links">
    <a href="{% url 'manager_home' %}">BACK TO HOME</a>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Add Employee">
    </form>
    </div>
</body>
</html>
